body
{
	background-color: #905803;
}

#board
{
	position: absolute;
	width: 680px;
	height: 436px;
	left: 100px;
	padding: 5px;
	overflow: auto;
	background-image: url('gfx/board.png');
}

#board a
{
	position: absolute;
	width: 39px;
	height: 56px;
	border: 1px none;
}

.selected
{
	opacity: 0.5;
}

#status
{
	position: absolute;
	top: 80px;
	left: 20px;
	border: 1px dashed black;
	background-color: white;
}

#candle
{
	position: absolute;
	top: 80px;
	left: 820px;
	width: 150px;
	height: 320px;
	border: 1px dashed black;
	text-align: center;
	background-color: white;
}

#candle_wrap
{
	height: 300px;
	margin: 8px auto;
	overflow: hidden;
}