#board
{
	position: absolute;
	width: 350px;
	height: 300px;
	left: 150px;
	padding: 5px;
	border: 1px gray solid;
	overflow: auto;
}

#board a
{
	position: absolute;
	width: 39px;
	height: 56px;
	border: 1px none;
}

.selected
{
	border-style: dotted !important;
}

#status
{
}